<h1 id="title" class="title">登录</h1>
<p class="sub-title">请登录你的邮箱账号</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>糟糕!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>
<div ng-app="myApp" ng-controller="SiteCtrl">
<form (ngSubmit) ="login()" #form="ngForm" aria-labelledby="title" >
    {{diagnostic}}

  <!-- <div class="form-control-group">
    <label class="label" for="input-email">邮箱账号:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.email"
           #email="ngModel"
           name="email"
           id="input-email"
           pattern=".+@.+\..+"
           placeholder="邮箱账号"
           autofocus
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        邮箱账号不能为空!
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        邮箱账号不存在!
      </p>
    </ng-container>
  </div> -->
  <div class="form-control-group">
    <label class="label" for="name">昵称:</label>
    <input nbInput
           [(ngModel)]="user.name"
           #name="ngModel"
           id="name"
           name="name"
           placeholder="昵称"
           autofocus
           fullWidth
           [required]="getConfigValue('forms.validation.name.required')"
           [minlength]="getConfigValue('forms.validation.name.minLength')"
           [maxlength]="getConfigValue('forms.validation.name.maxLength')"
           [attr.aria-invalid]="name.invalid && name.touched ? true : null">
    <ng-container *ngIf="name.invalid && name.touched">
      <p class="error-message" *ngIf="name.errors?.required">
        昵称不能为空!
      </p>
      <p class="error-message" *ngIf="name.errors?.minlength || name.errors?.maxlength">
        昵称必须至少包括
        from {{getConfigValue('forms.validation.name.minLength')}}
        to {{getConfigValue('forms.validation.name.maxLength')}}
        字符
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="password">密码:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.password"
           #password="ngModel"
           name="password"
           type="password"
           id="password"
           placeholder="登录密码"
           [required]="getConfigValue('forms.validation.password.required')"
           [minlength]="getConfigValue('forms.validation.password.minLength')"
           [maxlength]="getConfigValue('forms.validation.password.maxLength')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        密码不能为空!
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        密码必须包含
        从 {{ getConfigValue('forms.validation.password.minLength') }}
        到 {{ getConfigValue('forms.validation.password.maxLength') }}
        的字符
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe"  *ngIf="rememberMe">记住账号和密码</nb-checkbox>
    <!-- [(ngModel)]="user.rememberMe" -->
    <a class="forgot-password" routerLink="../request-password">忘记密码?</a>
  </div>

  <button nbButton
          type="submit"
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted"
          (click)="SignIn"
         >
    登录
  </button>
</form>
</div>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Register">
  还没有账号? <a class="text-link" routerLink="../register">注册</a>
</section>

<script>
  
  </script>